.modal {
  position: fixed;
  background-color: rgba(211, 211, 211, 0.507);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  div {
    position: relative;
    .close-icon {
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 2;
      cursor: pointer;
      svg {
        width: 16px;
        &:hover {
          fill: darken($blue, 10%);
        }
      }
    }
  }
}
