@import "../../styles/base", "../../styles/components";

.auth {
  background-color: $white;
  border-radius: 6px;
  width: 340px;
  padding: 20px 15px;
  form {
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
      margin-top: 0;
    }
    label {
      font-weight: 500;
      font-size: 0.9rem;
      margin-bottom: 5px;
      margin-top: 15px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    input {
      padding: 5px 10px;
      outline: none;
      border: 2px solid transparent;
      background-color: lighten($main-bg, 8%);
      border-radius: 4px;
      &:focus {
        border-color: lighten($blue, 25%);
      }
      &.invalid-input {
        border: 2px solid red;
      }
    }
    .invalid-msg {
      font-size: 0.8rem;
      font-style: italic;
      color: red;
      margin-left: 3px;
    }
    button {
      margin: 15px 0;
      @extend default-btn;
    }
    .auth-mode-btn {
      font-size: 0.9rem;
      color: lighten($blue, 10%);
      margin: auto;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
